body {
  background-image: url(assets/fruct.jpg);
}

h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #000000;
  text-shadow: 5px 5px 5px #ff7d7d;
  letter-spacing: 1px;
}
.box {
  background-color: #ffffff;
  border: 7px solid rgb(255, 108, 108);
  min-height: 1200px;
  font-size: 2rem;
}
form {
  font-size: medium;
}
.btn {
  background-color: #ff7d7d;
  border: 2px solid red;
}
.btn:hover {
  background-color: #ffccbf;
  border: 2px solid rgb(255, 135, 135);
}
